MODULOS

In [1]:
# Para convertir un notebook (ipynb) en un archivo python (py) utilizar el siguiente comando: jupyter nbconvert --to script notebook.ipynb

In [4]:
import mis_modulos

In [5]:
nombre=mis_modulos.saludo('Samuel','Marcos')
nombre

Hola, me llamo Samuel Marcos

PAQUETES

In [6]:
#Es una carpeta que contiene varios modulos dentro
#Se recomienda incluir __init__.py dentro de la carpeta

PROGRAMACION ORIENTADA A OBJETOS (OOB)

clases y objetos

In [115]:
class coche:
    marca="Mercedes"
    modelo=2005
    placa="34564-TF"

taxi=coche() # se crea un objeto
print(f"{taxi.marca}\n{taxi.modelo}\n{taxi.placa}")

Mercedes
2005
34564-TF

In [39]:
class jugadores:
    j1="Messi"
    j2="C.Ronaldo"

print(f"{jugadores.j1}\n{jugadores.j2}")

Messi
C.Ronaldo

In [40]:
class arbitros:
    ar1="M.Lahoz"
    ar2="U.Mallenco"
print(f"{arbitros.ar1}\n{arbitros.ar2}")

M.Lahoz
U.Mallenco

In [46]:
class equipo:
    e1="Real Madrid"
    e2="Barcelona"
equipo.e1

'Real Madrid'

In [47]:
class nombre:
    pass

In [48]:
samuel=nombre()
gane=nombre()

In [49]:
samuel.edad=25
gane.edad=25

In [52]:
samuel.sexo="hombre"
gane.sexo="mujer"

In [54]:
print(str(samuel.edad) +"\n" + samuel.sexo)

25
hombre

metodos

In [74]:
class matematicas:
    def suma(self):
        self.numero1 = 2
        self.numero2 = 3
        
s=matematicas()
s.suma()
print(s.numero1 + s.numero2)

5

In [81]:
#recomendado usar directamente el init a continuacion

In [117]:
class ropa:
    def __init__(self):
        self.marca='nike'
        self.talla='M'
        self.color='negro'
        
camiseta=ropa()

print(f"{camiseta.marca}\n{camiseta.color}\n{camiseta.talla}")

nike
negro
M

In [116]:
class calculadora:
    def __init__(self,n1,n2):
        self.suma = n1 + n2
        self.resta = n1 - n2
        self.multiplicacion = n1 * n2
        self.division = n1 / n2
        
c=calculadora(3,1)

print(f"{c.suma}\n{c.resta}\n{c.multiplicacion}\n{c.division}")

4
2
3
3.0

funciones para atributos

In [93]:
class persona:
    edad=25
    nombre='samuel'
    
    
doctor=persona()

print(f"{doctor.nombre}\n{doctor.edad}")

samuel
25

In [95]:
#ahora implementamos funciones para los atributos

In [97]:
print("la edad es {}".format(doctor.edad))

la edad es 25

In [98]:
print("la edad es {}".format(getattr(doctor,'edad')))

la edad es 25

In [114]:
#Caso de uso para el getattr. Se accede al valor del atributo pero podemos ponerle un valor en caso de que no exista

class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

# Crear una instancia de Persona
persona = Persona("Juan", 25)

# Intentar obtener un atributo que no existe con getattr y proporcionar un valor predeterminado
persona2 = getattr(persona, 'edad', 'No especificada') #el atributo edad si existe

persona3 = getattr(persona, 'altura', 'No especificada') #el atributo altura no existe

# Imprimir el resultado
print("La edad de la persona es: {}".format(persona2))
print("La altura de la persona es: {}".format(persona3))

La edad de la persona es: 25
La altura de la persona es: No especificada

In [124]:
#Caso de uso para el getattr. Devuelve True o False dependiendo de si el atributo existe o no
class persona:
    def __init__(self):
        self.nombre='samuel'
        self.edad=25
        
ingeniero=persona()

print('¿Tiene nombre el ingeniero?',hasattr(ingeniero,'nombre'))
print('¿Tiene edad el ingenierio?',hasattr(ingeniero,'edad'))

print('¿Tiene altura el ingeniero?',hasattr(ingeniero,'altura')) #Devuelve False porque no existe el atributo altura

¿Tiene nombre el ingeniero? True
¿Tiene edad el ingenierio? True
¿Tiene altura el ingeniero? False

In [130]:
#Caso de uso para el setattr. Cambiar el valor de un atributo
class persona:
    def __init__(self):
        self.nombre='samuel'
        self.edad=25
        
medico=persona()

print('El nombre del medico es:',medico.nombre)

setattr(medico,'nombre','ulises') #Cambiamos el valor de nombre para el objeto medico

print('El nombre del medico es:',medico.nombre)

El nombre del medico es: samuel
El nombre del medico es: ulises

In [142]:
#Caso de uso para el delattr

class persona:
    def __init__(self):
        self.pais='españa'
        self.ciudad='sc de tenerife'
        
residencia=persona()
residencia1=persona()

print('El pais es: {} y la ciudad es: {}'.format(residencia.pais,residencia.ciudad))

delattr(residencia,'pais') #Como primer argumento ponemos el nombre del atributo o del objeto dependiendo de donde lo queremos eliminar

print('El pais es: {} y la ciudad es: {}'.format(residencia.pais,residencia.ciudad)) #Da error porque se ha eliminado correctamente

El pais es: españa y la ciudad es: sc de tenerife

AttributeError: 'persona' object has no attribute 'pais'

Resumen de funciones dentro de las clases

getattr: persona2 = getattr(persona, 'edad', 'No especificada') Se accede al valor del atributo pero podemos ponerle un valor en caso de que no exista


hasattr: print('¿Tiene nombre el ingeniero?',hasattr(ingeniero,'nombre')) Devuelve True o False dependiendo de si el atributo existe o no


setattr: setattr(medico,'nombre','ulises') Cambiamos el valor del atributo nombre para el objeto medico


delattr: delattr(residencia,'pais') Como primer argumento ponemos el nombre del atributo o del objeto dependiendo de donde lo queremos eliminar, si del objeto solamente o de la clase en general

Constructores

In [163]:
class persona:
    pass #Si en vez de poner directamente los metodos queremos ponerlos como funciones (constructores) deberemos de establecer un pass
    def __init__(self,nombre,apellido,edad):
        self.nombre=nombre
        self.apellido=apellido
        self.edad=edad
        
    def desripcion(self):
        return 'Me llamo {} {} y tengo {} años'.format(hombre.nombre,hombre.apellido,hombre.edad)
    
    def comentario(self,frase):
        return '{} dice: {}'.format(self.nombre,frase)
 
        
hombre=persona('samuel','marcos',25)

print(hombre.desripcion()) #llamamos al objeto y luego al constructor
print(hombre.comentario('me gustan las papas'))

Me llamo samuel marcos y tengo 25 años
samuel dice: me gustan las papas

Modificar un atributo

In [230]:
class alumno: #clase
    pass
    
    def __init__(self,nombre,nota): #constructor
        self.nombre=nombre #atributos
        self.nota=nota

    def calificacion(self): #metodo
        return 'El alumno {} tiene una calificacion de {}'.format(persona.nombre.ljust(6),persona.nota)
lista_notas=[5,10,8]
lista_nombres=['samuel','gane','guille']
for nombre,nota in zip(lista_nombres,lista_notas):
    if nombre=='samuel':
        nota=10
    elif nombre=='gane':
        nota=5
    elif nombre=='guille':
        nota=8
    persona=alumno(nombre,nota) #objeto
    print(persona.calificacion())

El alumno samuel tiene una calificacion de 10
El alumno gane   tiene una calificacion de 5
El alumno guille tiene una calificacion de 8

In [228]:
#En este caso si llamo a persona.nombre me da el primer self.nombre que es el del constructor, pero si especifico el método calificacion me da el self.nombre de ese método
class alumno: #clase
    pass
    
    def __init__(self,nota): #constructor
        self.nombre='samuel' #atributos
        self.nota=nota

    def calificacion(self): #metodo
        self.nombre='ulises'
        return 'El alumno {} tiene una calificacion de {}'.format(self.nombre.ljust(6),self.nota)
        
persona=alumno(7) #objeto
print(persona.nombre)
print(persona.calificacion())

samuel
El alumno ulises tiene una calificacion de 7

Herencia

In [235]:
class pokemon:
    pass
    def __init__(self,nombre,tipo):
        self.nombre=nombre
        self.tipo=tipo
    def descripcion(self):
        return 'EL pokemon {} es de tipo {}'.format(self.nombre,self.tipo)

class pikachu(pokemon):
    def ataque(self,tipo_ataque):
        return 'El pokemon {} tiene el ataque {}'.format(self.nombre, tipo_ataque)
    
class charmander(pokemon):
     def ataque(self,tipo_ataque):
        return 'El pokemon {} tiene el ataque {}'.format(self.nombre, tipo_ataque)
    
nuevo_pokemon=pikachu('samuelito','electrico') #Pimer parametro es el nombre de la clase padre. Se le añade los atributos de la clase padre como parametros, nombre y tipo.
print(nuevo_pokemon.descripcion()) #Imprimimos el metodo descripcion

print(nuevo_pokemon.ataque('impactrueno'))


nuevo_pokemon1=charmander('ganesha','fuego')
print(nuevo_pokemon1.descripcion())
print(nuevo_pokemon1.ataque('lanzallamas'))

EL pokemon samuelito es de tipo electrico
El pokemon samuelito tiene el ataque impactrueno
EL pokemon ganesha es de tipo fuego
El pokemon ganesha tiene el ataque lanzallamas

In [279]:
#clase padre

class calculadora:
    def __init__(self,numeros):
        self.n=numeros
        
    def ingresardato(self):
        self.datos=[int(input('Ingresa datos '+str(i+1) + ' = ')) for i in range(self.n)]   
        
#clase hijo 1        
        
class op_basicas(calculadora):
    def __init__(self):
        calculadora.__init__(self,3) #elijo 3 numeros para mis operaciones basicas, es decir estoy llamando al constructor de la clase padre y le estoy asignando los parametros
        
    def suma(self):
        a,b,c=self.datos
        s=a + b + c
        print('La suma de {} + {} + {} da: {}'.format(a,b,c,s))
    
    
    def resta(self):
        a,b,c=self.datos
        r=a - b -c
        print('La resta de {} - {} - {} da: {} '.format(a,b,c,r))

#clase hijo 2
    
class raiz(calculadora):
    def __init__(self):
        calculadora.__init__(self,1) #elijo un numero para la raiz cuadrada
    def raiz_cuadrada(self):
        import math
        a,=self.datos
        print('La raiz de {} es: {}'.format(a,math.sqrt(a)))
        
ejemplo=op_basicas()
print(ejemplo.ingresardato())
print(ejemplo.suma())
print(ejemplo.resta())
ejemplo1=raiz()
print(ejemplo1.ingresardato())
print(ejemplo1.raiz_cuadrada())

Ingresa datos 1 =  4
Ingresa datos 2 =  2
Ingresa datos 3 =  1
None
La suma de 4 + 2 + 1 da: 7
None
La resta de 4 - 2 - 1 da: 1
None
Ingresa datos 1 =  9
None
La raiz de 9 es: 3.0
None

CREAR DATAFRAME ORIGINAL CON | POKEMON | TIPO | ATAQUE |

In [4]:
import pandas as pd

class pokedex:
    def __init__(self, numero):
        self.n = numero
        self.lista_pokemon = []
        self.lista_tipo = []
        #self.lista_ataque = ['NULL' for _ in range(self.n)]

class pokemon(pokedex):
    def __init__(self):
        pokedex.__init__(self,3)
        self.pokemon_ataque = None

    def obtener_pokemon(self):
        for i in range(self.n):
            nombre = input(f'Introduce el nombre del pokemon {i+1}: ')
            self.lista_pokemon.append(nombre)
            tipo = input(f'Introduce el tipo del pokemon {nombre}: ')
            self.lista_tipo.append(tipo)
        self.pokedex_df = pd.DataFrame({'pokemon': self.lista_pokemon, 'tipo': self.lista_tipo})
        return self.pokedex_df
    
    def asignar_ataque(self):
        self.pokemon_ataque=input('Introduce un pokemon para asignarle un ataque: ')
        
        if self.pokemon_ataque in self.pokedex_df['pokemon'].tolist():
            index = self.pokedex_df['pokemon'].tolist().index(self.pokemon_ataque)
            ataque = input(f'Introduce el ataque para {self.pokemon_ataque}: ')
        
            # Asignar el ataque en el DataFrame
            self.pokedex_df.at[index, 'ataque'] = ataque
        
            print(f'Se ha asignado el ataque {ataque} a {self.pokemon_ataque}.')
        else:
            print(f'No se encontró el Pokémon {self.pokemon_ataque} en la Pokedex.')

        return self.pokedex_df


# Crear una instancia de la clase pokemon
pokemon_object = pokemon()

# Llamar al método obtener_pokemon en la instancia
pokedex_df = pokemon_object.obtener_pokemon()

Introduce el nombre del pokemon 1:  pikachu
Introduce el tipo del pokemon pikachu:  electrico
Introduce el nombre del pokemon 2:  charmander
Introduce el tipo del pokemon charmander:  fuego
Introduce el nombre del pokemon 3:  evee
Introduce el tipo del pokemon evee:  normal

In [5]:
print(pokedex_df)

      pokemon       tipo
0     pikachu  electrico
1  charmander      fuego
2        evee     normal

ASIGNAR / CAMBIAR ATAQUES

In [9]:
# Llamar al método asignar_ataque en la instancia
pokedex_df = pokemon_object.asignar_ataque()

# Imprimir o trabajar con pokedex_df en otras celdas
print(pokedex_df)

Introduce un pokemon para asignarle un ataque:  evee
Introduce el ataque para evee:  placaje
Se ha asignado el ataque placaje a evee.
      pokemon       tipo       ataque
0     pikachu  electrico  impactrueno
1  charmander      fuego       ascuas
2        evee     normal      placaje

AÑADIR ELIMINAR REGISTROS

In [10]:
class GestorPokedex:
    def __init__(self, pokedex):
        self.pokedex = pokedex

    def agregar_registro(self):
        self.nuevo_registro=input('¿Quieres agregar un nuevo registro?: ')
        if self.nuevo_registro.lower() in ['si', 'sí']:
            self.nuevo_pokemon=input('Introduce el nombre del nuevo pokemon: ')
            self.nuevo_tipo=input(f'Introuce el tipo del pokemon {self.nuevo_pokemon}: ')
            self.nuevo_ataque=input(f'Introduce un ataque para el pokemon {self.nuevo_pokemon}: ')

            nueva_fila = {'pokemon': self.nuevo_pokemon, 'tipo': self.nuevo_tipo, 'ataque': self.nuevo_ataque}
            self.pokedex.pokedex_df = self.pokedex.pokedex_df.append(nueva_fila, ignore_index=True)
            
        elif self.nuevo_registro.lower() in ['no','']:
            pass
    
    def eliminar_registro(self):
        self.nuevo_registro=input('¿Quieres eliminar un nuevo registro?: ')
        if self.nuevo_registro.lower() in ['si', 'sí']:
            self.eliminar_pokemon=input('Indica el nombre del pokemon que quieres eliminar: ')
            
            if self.eliminar_pokemon in self.pokedex.pokedex_df['pokemon'].tolist():
                if self.pokedex.pokedex_df['pokemon'].duplicated(keep='first').any():
                    self.pokedex.pokedex_df = self.pokedex.pokedex_df[~self.pokedex.pokedex_df.duplicated(subset='pokemon', keep='first')]
                    print(f'Se eliminaron duplicados en la Pokedex.')
                else:
                    self.pokedex.pokedex_df[self.pokedex.pokedex_df['pokemon'] != self.eliminar_pokemon]
                    print(f'Se ha eliminado el registro del Pokémon {self.eliminar_pokemon}.')
            else:
                print(f'No se encontró el Pokémon {self.eliminar_pokemon} en la Pokedex.')
        else:
            print('No se realizaron cambios en la Pokedex.')

    
    def obtener_pokedex(self):
        return self.pokedex.pokedex_df

AÑADIR

In [14]:
#Crear una instancia de la clase GestorPokedex
gestor_pokedex = GestorPokedex(pokemon_object)

# Llamar al método agregar_registro en la instancia del gestor
gestor_pokedex.agregar_registro()

# Imprimir o trabajar con pokedex_df en otras celdas
print(gestor_pokedex.obtener_pokedex())
dataframe_pokedex=gestor_pokedex.obtener_pokedex()
dataframe_pokedex

¿Quieres agregar un nuevo registro?:  si
Introduce el nombre del nuevo pokemon:  squirtle
Introuce el tipo del pokemon squirtle:  agguua
Introduce un ataque para el pokemon squirtle:  burbuja
      pokemon       tipo       ataque
0     pikachu  electrico  impactrueno
1  charmander      fuego       ascuas
2        evee     normal      placaje
3    squirtle       agua      burbuja
4    squirtle     agguua      burbuja

      pokemon       tipo       ataque
0     pikachu  electrico  impactrueno
1  charmander      fuego       ascuas
2        evee     normal      placaje
3    squirtle       agua      burbuja
4    squirtle     agguua      burbuja

ELIMINAR

In [16]:
#Crear una instancia de la clase GestorPokedex
gestor_pokedex = GestorPokedex(pokemon_object)

# Eliminar un registro por nombre de Pokémon
gestor_pokedex.eliminar_registro()

# Imprimir o trabajar con pokedex_df en otras celdas
print(gestor_pokedex.obtener_pokedex())

dataframe_pokedex=gestor_pokedex.obtener_pokedex()
dataframe_pokedex

¿Quieres eliminar un nuevo registro?:  si
Indica el nombre del pokemon que quieres eliminar:  squirtle
Se eliminaron duplicados en la Pokedex.
      pokemon       tipo       ataque
0     pikachu  electrico  impactrueno
1  charmander      fuego       ascuas
2        evee     normal      placaje
3    squirtle       agua      burbuja

      pokemon       tipo       ataque
0     pikachu  electrico  impactrueno
1  charmander      fuego       ascuas
2        evee     normal      placaje
3    squirtle       agua      burbuja

In [29]:
import psycopg2
from sqlalchemy import create_engine

In [31]:
# Parámetros de conexión a la base de datos
DB_HOST = "postgresql_container"  # Cambia esto a la dirección IP del contenedor PostgreSQL
DB_PORT = "5432"
DB_NAME = "mydatabase"
DB_USER = "myuser"
DB_PASSWORD = "mypassword"

# Crear la cadena de conexión
db_url = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Crear un objeto de motor SQLAlchemy
engine = create_engine(db_url)

# DataFrame de ejemplo (reemplazarlo con tu DataFrame pokedex_df)
pokedex_df = dataframe_pokedex


# Nombre de la tabla en la base de datos
table_name = 'pokedex_table'

# Subir el DataFrame a la base de datos
pokedex_df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f'DataFrame subido a la tabla {table_name} en la base de datos.')

DataFrame subido a la tabla pokedex_table_1 en la base de datos.